:root { --mc : #0d6efd; --sc:#ff0000; --gc : #ced4da; --lc:#f8f9fa; --dc:#212529; } 

.mainColor { color: var(--mc) } 
.basicSection { padding: 100px 0; letter-spacing: -0.025em; font-size: 15px; } 
.basicSection h2 { font-size: 40px; font-weight: 700; text-align: center; } 
.basicSection h2 span { color: var(--mc); } 
.basicSection h2::after { content: ''; display: block; width: 60px; height: 3px; margin: 15px auto; background: #0d6efd; } 
.basicSection>p { margin: 0 0 50px 0; font-weight: 300; text-align: center; } 
.container { display: flex; width: 1170px; margin: 0 auto; gap: 30px; } 
.inner { width: 1170px; margin: 0 auto; } 
.inner::after { content: ""; display: block; clear: both; } 
.dotList { padding: 0; } 
.dotList li { position: relative; line-height: 1.4; padding: 0 0 0 20px; margin: 0 0 5px 0; } 
.dotList li::before { content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 2px; background: #0d6efd; border-radius: 50%; margin: 0 10px 0 0; } 
table { width: 100%; border: 1px solid #333; border-spacing: 0; border-collapse: collapse; border-left: none; border-right: none; border-top: 3px solid var(--mc); } 
table td { padding: 15px 15px; border-left: 1px solid #999; } 
table th { padding: 15px 15px; background: #f7f7f7; font-weight: 400; } 
table td~td { border-left: 1px solid #999; } 
table tr { border-bottom: 1px solid #999; } 
.responsive_table { width: 100%; overflow: auto; } 